<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<h2 mat-dialog-title>Add New Employee
</h2>

<mat-dialog-content class="mat-typography">


    <form [formGroup]="employeeForm">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="manager" class="col-6">Manager</label>
                    <mat-form-field appearance="fill" col="col-6">
                        <mat-label>Select any Manager</mat-label>
                        <mat-select formControlName="managerId">
                            <mat-option *ngFor="let name of managerList" [value]="name">{{name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>


 
        <div class="form-group">
            <label for="employeeId">Employee Id</label>
            <mat-form-field appearance="outline">
                <mat-label>Employee Id</mat-label> 
                <input formControlName="employeeId" (change)="ValidateEmpId()" name="employeeId" name="employeeId" matInput placeholder="Employee Id" required>
                <mat-hint *ngIf="invalidEmpId" [ngStyle]="{color: 'red'}">Employee Id already Exists</mat-hint>

            </mat-form-field>

        </div>
 
        <div class="form-group">
            <label for="firstName">First Name</label>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input name="firstName" formControlName="firstName" matInput placeholder="First Name" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input name="lastName" formControlName="lastName" matInput placeholder="Last Name" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="roles">Roles</label>
            <mat-form-field appearance="fill">
                <mat-label>Roles</mat-label>
                <textarea name="roles" formControlName="roles" matInput></textarea>
            </mat-form-field>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button  color="primary" (click)="addEmployee()"
        cdkFocusInitial>Save</button>
</mat-dialog-actions> 